#headerImage{
    max-width: 265px;
    max-height: 64px;
    animation-name: test;
    animation-duration: 1s;
}

#header{
    max-width: 100vw;
    background-color:#10203F ;
}

@media only screen and (max-width:600px){
    #headerImage{
        max-width: 200px;
        max-height: 58px;
    }
}